<div class="panel">

  <div class="panel-heading-wrapper">
    <div class="panel-heading">
      <h3>Replays</h3>
    </div>

    <div class="panel-tools">
      <p>
        <form class="search-bar" role="search">
          <input type="search" placeholder="Search" ng-model="vm.searchStr" ng-model-options="{debounce: 1000}" />
        </form>
      </p>
    </div>
  </div>

  <div class="panel-body">
    <table class="replays-table">
      <thead>
        <tr>
            <th>Upload date</th>
            <th>Title</th>
            <th class="centered">Players</th>
            <th>Map</th>
            <th class="centered">Game mode</th>
            <th>Version</th>
            <th class="centered">Download</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="replay in vm.replays" ng-click="vm.browseReplay(replay.Id)">
            <td>{{::replay.UploadDate | date:'yyyy-MM-dd'}}</td>
            <td>{{::replay.Title}}</td>
            <td class="centered">{{::replay.PlayersCount}}</td>
            <td>{{::replay.MapName}}</td>
            <td class="centered">{{::replay.VictoryConditionName}}</td>
            <td>{{::replay.GameVersion}}</td>
            <td class="centered"><a class="btn btn-primary btn-round" ng-click="vm.stopPropagation($event)" ng-href="{{vm.getDownloadUrl(replay.Id)}}"><span class="fa fa-download"></span></a></td>
        </tr>
      </tbody>
    </table>

    <div class="pagination" ng-show="vm.totalPages > 1">
        <ul>
            <li class="page-prev" ng-show="vm.pages[0] != 1">
                <button class="btn btn-sm btn-default" ng-disabled="vm.currentPage <= 1" ng-click="vm.browsePage(1)" aria-label="First">
                  <span class="fa fa-long-arrow-left"></span>
                </button>
            </li>
            <li>
              <ul>
                <li ng-repeat="page in vm.pages">
                  <button class="btn btn-sm btn-default" ng-disabled="vm.currentPage == page" ng-click="vm.browsePage(page)">{{page}}</button>
                </li>
              </ul>
            </li>
            <li class="page-next" ng-show="vm.pages[vm.pages.length - 1] != vm.totalPages">
                <button class="btn btn-sm btn-default" ng-disabled="vm.currentPage >= vm.totalPages" ng-click="vm.browsePage(vm.totalPages)" aria-label="Last">
                  <span class="fa fa-long-arrow-right"></span>
                </button>
            </li>
        </ul>
    </div>
  </div>
</div>
