@import 'bourbon';
@import 'neat';

.panel {

  $large-screen: em(860) !default;
  $horizontal-bar-mode: $large-screen;
  $panel-heading-height: 24px;

  .panel-heading-wrapper {
    min-height: $panel-heading-height;
    border-bottom: 1px solid #333;
    @include clearfix;

    .panel-heading {

      @include media ($horizontal-bar-mode) {
        float: left;
      }
    }

    .panel-tools {
      background: #505050;
      clear: both;
      display: block;
      min-height: $panel-heading-height;

      @include media($horizontal-bar-mode) {
        background: transparent;
        clear: none;
        float: right;
      }
    }
  }

  .panel-body {
    @include clearfix;
  }
}
