@import 'bourbon';
@import 'neat';

.panel {

  $large-screen: em(860) !default;
  $horizontal-bar-mode: $large-screen;
  $panel-heading-height: 24px;

  .panel-heading-wrapper {
    min-height: $panel-heading-height;
    border-bottom: 1px solid #333;
    @include clearfix;

    .panel-heading {
    }

    .panel-tools {
      background: #505050;
      clear: both;
      display: block;
      min-height: $panel-heading-height;
    }
  }

  .panel-body {
    @include clearfix;
  }
}
