@import 'bourbon';
@import 'neat';

@import '../components/table-condensed';
@import '../common/colors';

.rc-game-info {
  .rc-minimap {
    @include span-columns(3);
    min-width: 150px;
  }
  .rc-general-info {
    @include span-columns(5);
  }
  @include clearfix;
}
.rc-players-info {
  >div {
    &:nth-child(1) {
      @include span-columns(6);
    }
    &:nth-child(2) {
      @include span-columns(6);
    }
  }
  @include clearfix;
}

.players-table {
  @extend .table-condensed;

  th.faction-col {
    width: 50px;
  }

  th.level-col {
    width: 40px;
    text-align: right;
  }

  th.rank-col {
    width: 40px;
    text-align: right;
  }

  th.elo-col {
    width: 40px;
    text-align: right;
  }

  th.deck-col {
    width: 35px;
  }

  td.align-right, th.align-right {
    text-align: right;
  }

  a.action-link {
    color: $primary_color;
    text-decoration: underline;

    &:hover {
      cursor: pointer;
    }
  }
}
