@font-face {
    font-family: 'Bombardier';
    src: url('/Content/fonts/BOMBARD_.ttf');
}

@font-face {
    font-family: 'Friz Quadrata Regular';
    src: url('/Content/fonts/Friz_Quadrata_Regular.ttf');
}

@font-face {
    font-family: 'Hagin Caps Medium';
    src: url('/Content/fonts/Hagin_Caps_Medium.otf');
}

.drop-zone {
    background-color: rgba(80, 80, 80, 0.8);
    border: 2px dashed rgba(200, 200, 200, 0.8);
    border-radius: 15px;
    text-align: center;
    vertical-align: middle;
    margin: 40px;
}

.army-style-font {
    font-family: Bombardier
}

.block-centered {
    margin: 0 auto;
    max-width: 350px;
    padding: 15px;
}

.form-signin {
    margin: 0 auto;
    max-width: 330px;
    padding: 15px;
}

.ewg-top-navbar {
    margin-bottom: 0;
}

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Calibri, Tahoma, Arial, Helvetica;
}
p, div {
    font-family: Calibri, Tahoma, Arial, Helvetica;
}

body {
    font-size: 14px;
    line-height: 1.2;
}

.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
    line-height: 1;
    padding: 5px;
}

.ewg-header {
    background-image: url('/Content/imgs/M1-Abrams.png');
    background-repeat: no-repeat, no-repeat;
    background-position: right bottom, center top;
}

.ewg-body {
    background-image: url('/Content/imgs/grey-camo.jpg')
}

.ewg-panel-header-text {
}

.ewg-site-title {
    display: block;
    font-family: Impact;
    font-size: 6em;
    margin-top: 15px;
    margin-bottom: 0;
    line-height: 1;
    text-shadow: 3px 3px 0 black;
}


.ewg-wargame-logo-slogan {
    display: block;
    font-family: Friz Quadrata Regular;
    letter-spacing: 0.55em;
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 20px;
    text-shadow: 3px 3px 0 black;
}

a.ewg-site-header {
    color: #FFFFFF;
    outline: 0;
}

a.ewg-site-header:link,
a.ewg-site-header:hover,
a.ewg-site-header:active,
a.ewg-site-header:visited {
    color: #FFFFFF;
    text-decoration: none;
}

.ewg-panel-heading {
    font-weight: bold;
    font-size: 18px;
}

.ewg-replays-table > tbody > tr > th{
    border-bottom: 1px solid #464545;
}

.stylish-input-group .input-group-addon{
    background: white !important;
}

.stylish-input-group .form-control{
	border-right:0;
	box-shadow:0 0 0;
	border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}

.ewg-players-table > tbody > tr > td {
    border-bottom: 1px solid grey;
}

.ewg-header-col {
    font-weight: bold;
    width: 100px;
}

.ewg-no-href-link:hover {
    cursor: pointer;
}

a:hover, a:focus {
    color: lightgray;
}

a {
    color: lightgray;
}

.pagination > li > .btn {
    background-color: #464545;
}

.pagination > li > .btn:hover {
    background-color: grey;
}

.pagination > li > .btn:disabled {
    background-color: #252525;
}

.navbar-inverse {
    background-color: #464545;
}

.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    background-color: grey;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: lightgray;
    text-decoration: underline;
}

.navbar-inverse .navbar-nav > .active > a {
    background-color: gray;
}

.bg-primary {
    background-color: #bb0000;
}

.bg-primary:hover {
    background-color: darkred;
}

.btn-primary,
.btn-primary:link,
.btn-primary:active,
.btn-primary:focus {
    outline: 0;
    background-color: #bb0000;
    border-color: #bb0000;
    color: white;
}
.btn-primary:hover,
.btn-primary:visited {
    background-color: darkred;
    border-color: darkred;
    color: white;
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('/Content/fonts/glyphicons-halflings-regular.eot');
  src: url('/Content/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('/Content/fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('/Content/fonts/glyphicons-halflings-regular.woff') format('woff'), url('/Content/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('/Content/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

.ewg-upload-inner {
    margin: 0 auto;
    width:500px;
}

.ewg-upload-progress {
    height: 30px;
}

.ewg-upload-progress .progress-bar {
    line-height: 30px;
    font-size: 14px;
}

.ewg-deck-img,
.ewg-deck-flag {
    height: 16px;
    width: 16px;
    margin-right: 2px;
    display: block;
    float: left;
}

.ewg-deck-flag {
    height: 16px;
    width: 24px;
}

/* Nations - begin */

.ewg-nations-ussr {
    background-image: url('/Content/imgs/deck/small/ussr.png');
}

.ewg-nations-usa {
    background-image: url('/Content/imgs/deck/small/usa.png');
}

.ewg-nations-ddr {
    background-image: url('/Content/imgs/deck/small/ddr.png');
}

.ewg-nations-bdr {
    background-image: url('/Content/imgs/deck/small/bdr.png');
}

.ewg-nations-norad {
    background-image: url('/Content/imgs/deck/small/norad.png');
}

.ewg-nations-scandi {
    background-image: url('/Content/imgs/deck/small/scandi.png');
}

.ewg-nations-cw {
    background-image: url('/Content/imgs/deck/small/cw.png');
}

.ewg-nations-landjut {
    background-image: url('/Content/imgs/deck/small/landjut.png');
}

.ewg-nations-uk {
    background-image: url('/Content/imgs/deck/small/uk.png');
}

.ewg-nations-nswp {
    background-image: url('/Content/imgs/deck/small/nswp.png');
}

.ewg-nations-anzac {
    background-image: url('/Content/imgs/deck/small/anzac.png');
}

.ewg-nations-eu {
    background-image: url('/Content/imgs/deck/small/eu.png');
}

.ewg-nations-ca {
    background-image: url('/Content/imgs/deck/small/canada.png');
}

.ewg-nations-cn {
    background-image: url('/Content/imgs/deck/small/china.png');
}

.ewg-nations-cz {
    background-image: url('/Content/imgs/deck/small/czech.png');
}

.ewg-nations-nk {
    background-image: url('/Content/imgs/deck/small/nk.png');
}

.ewg-nations-fr {
    background-image: url('/Content/imgs/deck/small/fra.png');
}

.ewg-nations-jp {
    background-image: url('/Content/imgs/deck/small/japan.png');
}

.ewg-nations-norway {
    background-image: url('/Content/imgs/deck/small/norway.png');
}

.ewg-nations-pl {
    background-image: url('/Content/imgs/deck/small/pl.png');
}

.ewg-nations-sovkor {
    background-image: url('/Content/imgs/deck/small/sovkor.png');
}

.ewg-nations-rd {
    background-image: url('/Content/imgs/deck/small/rd.png');
}

.ewg-nations-bd {
    background-image: url('/Content/imgs/deck/small/bd.png');
}

.ewg-nations-sw {
    background-image: url('/Content/imgs/deck/small/sweden.png');
}

.ewg-nations-dk {
    background-image: url('/Content/imgs/deck/small/denmark.png');
}

.ewg-nations-sk {
    background-image: url('/Content/imgs/deck/small/sk.png');
}

.ewg-nations-redfor, .ewg-nations-bluefor {
    background-color: #575656;
}

/* Nations - end */

/* Specs - begin */
.ewg-spec-motorized {
    background-image: url('/Content/imgs/deck/small/moto.png');
}

.ewg-spec-armor {
    background-image: url('/Content/imgs/deck/small/armor.png');
}

.ewg-spec-support {
    background-image: url('/Content/imgs/deck/small/support.png');
}

.ewg-spec-marine {
    background-image: url('/Content/imgs/deck/small/marine.png');
}

.ewg-spec-mech {
    background-image: url('/Content/imgs/deck/small/mech.png');
}

.ewg-spec-airborne {
    background-image: url('/Content/imgs/deck/small/airborne.png');
}

.ewg-spec-naval {
    background-image: url('/Content/imgs/deck/small/naval.png');
}

.ewg-spec-general {
    background-color: #575656;
}
/* Specs - end */
